form
{
    margin: auto;
    margin-top: 100px;
    padding: 20px 50px 20px 50px;
    width: 350px;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
}

h1
{
    font: 1em sans-serif;
    font-size: 30px;
    font-weight: bold;
}

input
{
    display: block;
    width: 94%;
    margin: 32px auto;
    padding: 8px;
    border: 1px solid black;
    border-radius: 4px;
}

.formButton
{
    color: white;
    background-color: #0080ff;
}

nav
{
    background-color: white;
    width: 100%;
    height: 70px;
    border: 1px solid black;
    border-radius: 4px;
    
}

button
{
    font-size: 16px;
    width: 100px;
    padding: 8px;
    float: right;
    margin: 17px 40px 0px 0px;
    color: white;
    background-color: #0080ff;
    border: 1px solid black;
    border-radius: 4px;
}

div
{
    display: block;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

img
{
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    margin-left: 4px;
    margin-right: 4px;
    width: 35px;
    height: 35px;
}

body
{
    background-color: #64b7ff;
}